@import '../../../scss/variables';

a{
    &:hover,&focus{
        text-decoration: none;
    }
}
/* SINGLE CARD STYLES*/
.bwm-card {
    border: none;
    margin-bottom: 25px; 
    .card-block {
      padding-top: 8px;
      .card-subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: $main-dark-color;
      }
      .card-title {
        font-size: 17px;
        margin: 3px 0;
        color: $main-color;
        font-family: inherit;
      }
      .card-text {
        font-size: 14px;
        font-weight: 300;
        color: $main-red-color;
        margin-bottom: 0;
        
      }
      .card-link{
        font-size: 14px;
      }
    }
  }