<br-search-box></br-search-box>
     <div class="container">
        <h1 class="page-title m-5">New Rentals</h1>
        <span class="line"></span>
        <section id="rentalListing">
            

            <div class="row">
              <div class='col-md-3 col-xs-6' *ngFor="let rental of rentals">
          
                <br-rental-list-item [rental]="rental"></br-rental-list-item>
                
              </div>
          
              
            </div>
          </section>
     </div>
