<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">

      <div class="row justify-content-center">
        <h1 class="page-title"  > <span class="main-header">Your Home All Around Kasi</span></h1>
          <div class="col-12 col-md-10 col-lg-8">
              <form class="card card-sm">
                  <div class="card-body row no-gutters align-items-center">
                      
                      <div class="col">
                        <input #search
                        (keyup.enter)="search($event)"
                        class="search-box form-control form-control-lg form-control-borderless" 
                        type="search"
                        placeholder="Search location"
                        aria-label="Search"
                        >
                      </div>


                     
                  </div>
              </form>
          </div>
          <!--end of col-->
      </div>
    </div>
   </header> 