/* You can add global styles to this file, and also import other style files */
@import 'scss/variables';
@import 'scss/rental-detail';

html, body, p{

  color: $main-dark-color;
}

.nav-link{
  color: $main-dark-color !important;
}

.apartment, .condo, .house{
    color: $main-dark-color;
}


.clickable{
  cursor: pointer;
}

.bwm-form {
    color: $main-color;
  
    form {
      margin-bottom: 10px;
    }
  
    .alert {
      p {
        margin: 0;
      }
    }
  
    h1 {
      font-weight: 700;
      margin-bottom: 30px;
    }
    .image-container {
      position: relative;
  
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
  
    label {
      font-size: 12px;
    }
  
    .form-text {
      font-size: 13px;
    }
  
    .catchphrase {
      text-align: center;
      font-size: 42px;
      position: absolute;
      color: #f1f1f1;
      padding: 40px;
      background-color: rgba(0,0,0, 0.5);
      margin-top: 50px;
      letter-spacing: 1px;
    }
  }

  .btn-bwm {
    background-color: $main-color !important;
    border-color: $main-color !important;
    color: white !important;
    padding: 15px 30px;
    font-size: 20px;
  
    &:hover, &:focus, &:active {
      border-color: $main-color !important;
      background-color: $main-color !important;
    }
  }
  
.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

///////////////////////////////////////////////////////////////////////////
header.masthead {
  height: 55vh;
  background-image: linear-gradient(
      to right bottom,
       rgba($main-dark-color, 0.8),
       rgba($main-color, 0.8),), 
        url('assets/images/town.jpg');
  background-position: top; 
  position: relative;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}